:root{
    /* Color */
--white-color: #fff;
--black-color: #140a00;
--blue-color: #045fd4;
--red-color: #ff0000;
--grey-dark-color: #909090;
--grey-light-color: #e0e0e0;

    /* Size */
--side-padding: 12px;
--avatar-size: 36px;

    /* Font Size */
--font-large: 18px;
--font-medium: 14px;
--font-small: 12px;
--font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*  paaidng이나 margin을 줬을 때 그것을 포함하여 박스 사이징 되도록 설정 */
}

body {
    font-family: Roboto;
    margin: 0;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration-line: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--side-padding);
    align-items: center;
    background-color: var(--black-color);
    color: var(--white-color);
    height: 40px;
}

header .header_logo {
    font-size: var(--font-large);
}

header .header_logo i {
    color: var(--red-color);
}

header .search {
    margin-right: var(--side-padding);
}

/* Video Player */
.player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
}

.player video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

.subject {
    padding: var(--side-padding);
}

.subject .hashtag {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.subject .hashtag li {
    margin-right: var(--side-padding);
    float: left;
}

.subject .subject_text {
    display: flex;
}

.subject .subject_text .subject_name {
    font-size: var(--font-medium);
        margin-right: var(--side-padding);
}

.subject .subject_text .subject_name.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* 화살표를 글자와 맞추는 것 확인하기 */
.subjext .subject_text .moreBtn {
    height: 100%;
}

.subject .view {
    color: var(--grey-dark-color);
    font-size: var(--font-small);
}

.subject .icon {
    display: flex;
    justify-content: space-around;
    margin: var(--side-padding) 0;

}

.subject .icon button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    text-align: center;
}

.subject .icon button i {
    margin: 0 auto;
    margin-bottom: calc(var(--side-padding) / 2);
    font-size: 16px;
    color: var(--grey-dark-color);
}

.subject .icon button i.active {
    color: var(--blue-color);
}

/* Channel Description */

.subject .user {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}

.subject .user .user_name {
    display: flex;
    align-items: center;
}

.subject .user .user_name img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}


/* .info에 flex box 적용 안되는 이유 확인 */

.subject .user .user_name .info {
    display: flex;
    flex-direction: column;
}

.subject .user .user_name .info .user_name1 {
    font-size: var(--font-medium);
}

.subject .user .user_name .info .user_name2 {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.subject .user .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
}

.upNext {
    padding: var(--side-padding);
}

.upNext .text {
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--side-padding) / 2);
}

.upNext .list {
    display: flex;
    margin-top: var(--side-padding);
}

.upNext .list .img {
    flex: 1 1 35%;
    margin-right: var(--side-padding);
}

.upNext .list .img img {
    width: 100%;
}

.upNext .list .info {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
}

.upNext .list .moreBtn {
    flex: 1 1 5%;
}

.upNext .list .info .text1 {
    font-size: var(--font-small);
}

.upNext .list .info .text2,
.upNext .list .info .text3 {
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .infoAndUpNext {
        flex-direction: row;
        margin: var(--side-padding);
    }
}